@model IEnumerable<ProyectoVikingsGenNHibernate.EN.ProyectoVikings.Batalla_PVPEN>

@{
    ViewBag.Title = "BatallaPVPs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BatallaPVPs</h2>

<p>
    @Html.ActionLink("Nuevo BatallaPVP", "Create")
</p>
<p>
    @Html.ActionLink("Mis BatallaPVPs", "List")
</p>
<table>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model =>model.Jugador)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Jugador.Nombre)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Ver Jugador1", "Details", "Jugador1", new { id = item.Id }, "null") |
                @Html.ActionLink("Ver Jugador2", "Details", "Jugador2", new { id = item.Id }, "null")

            </td>

        </tr>
    }

</table>