Vida@model IEnumerable<ProyectoVikingsGenNHibernate.EN.ProyectoVikings.MonstruoEN>

@{
    ViewBag.Title = "Mis Monstruos";
}

<h2>Mis Monstruos</h2>

<p>
    @Html.ActionLink("Nuevo Monstruo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ataque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defensa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ataque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defensa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batalla_PVE.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monstruo.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id}) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Ver Batalla_PVE", "Details", "Batalla_PVE", new { id = item.Id }, "null") |
                @Html.ActionLink("Ver Monstruo", "Details", "Monstruo", new { id = item.Id }, "null")



            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Volver a Monstruos", "Index")
</div>