@model MvcApplication1.Models.Batalla_PVE

@{
    ViewBag.Title = "Nuevo BatallaPVE";
}

<h2>Nuevo BatallaPVE</h2>

@using (Html.BeginForm("Create", "BatallaPVE", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    //id, recompensa, tipoGanador
    <fieldset>
        <legend>BatallaPVE</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id)
            @Html.ValidationMessageFor(model => model.id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Recompensa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Recompensa)
            @Html.ValidationMessageFor(model => model.Recompensa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tipoGanador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tipoGanador)
            @Html.ValidationMessageFor(model => model.tipoGanador)
        </div>

     
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<!--h3>Mapa</h3>-->
<div id="map" style="height: 600px;"></div>
<div>
    @Html.ActionLink("Volver a BatallaPVEs", "Index")
</div>

@section Scripts {
    <!--Scripts.Render("~/bundles/jqueryval")-->
    <!--Scripts.Render("~/bundles/mapacreate")-->
}