@model MvcApplication1.Models.Objeto

@{
    ViewBag.Title = "Nuevo Objeto";
}

<h2>Nuevo Objeto</h2>

@using (Html.BeginForm("Create", "Objeto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    //id, recompensa, tipoGanador
    <fieldset>
        <legend>Objeto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id)
            @Html.ValidationMessageFor(model => model.id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Precio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Precio)
            @Html.ValidationMessageFor(model => model.Precio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tipo)
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Ataque)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ataque)
            @Html.ValidationMessageFor(model => model.Ataque)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Defensa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Defensa)
            @Html.ValidationMessageFor(model => model.Defensa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

     
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<!--h3>Mapa</h3>-->

<div>
    @Html.ActionLink("Volver a Objetos", "Index")
</div>

@section Scripts {
    <!--Scripts.Render("~/bundles/jqueryval")-->
    <!--Scripts.Render("~/bundles/mapacreate")-->
}